* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: #eaffec;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 2;
    padding: 1rem;
  }
  
  @media (min-width: 1024px) {

    body {
      font-family: Arial, sans-serif;
      background: #eaffec;
      background-image: url("/Portfolio_Bilal/image.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(230, 255, 230, 0.932); // Dunkles Overlay mit Transparenz
      z-index: -1;
    }

    .app {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    main {
      flex: 1;
    }
  }